/* navbar item*/
.nav-item{
    color: rgb(255, 255, 255);
    padding-right: 10px;
    margin-right: 10px;
}
/*navbar contant coloring*/
.nav-link{
    color: rgb(255, 255, 255) !important;
   
}
/* navbar hover animation*/
.nav-link:hover{
 color:yellow !important;
 
}
/*navbar contant*/
.navbar-nav{
    padding-right: 140px;
}  
/* navbar image*/  
.navbar-brand img {
    height: 40px;
}
/* profile image*/
.img-fluid{
    padding-top: 100px;
}
/* heading my name*/
.h1{
    background-image: linear-gradient(to left,rgb(255, 255, 0), rgb(255, 255, 249) );
    background-clip: text;
    color: transparent;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-kerning: auto;
}
/* heading pararaph*/
.h6{
    color: azure;
}
/* icons hover animation*/
i:hover{
 color:green;
}
/* icons */
i{
    color: rgb(255, 255, 255);
}
/* card image align*/
.card-img-top{
    border-radius: 60%;
    height: 50px;
    width: 100px;
    padding-left: 70px;
}
/* card align*/
.card{
    height: 200px;
    width: 330px;
    background-color: #101724;
    text-align: center;
}
/* card row align*/
.row{
    padding-top: 50px;
    padding-left: 50px;
}